<%- include("../../partials/header.ejs") %>
    <%- include("../../partials/employeeNav.ejs") %>

        <div class="container my-5">
            <h1 class="text-center">Employee Dashboard</h1>
            <h2 class="text-center mb-4">Pets Under Your Care</h2>
            <div class="col-lg-8 mx-auto">
                <h3 class="mb-4">Pets Under My Care</h3>
                <% if (currentUser.caringFor && currentUser.caringFor.length> 0) { %>
                    <ul class="list-group mb-4">
                        <% currentUser.caringFor.forEach(function(pet) { %>
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                id="petItem_<%= pet._id %>">
                                <a href="/employee/pets/<%= pet._id %>" class="pet-link btn btn-info">
                                    <%= pet.name %>
                                </a>
                                <form action="/employee/pets/<%= pet._id %>/remove" method="POST"
                                    style="display: inline;">
                                    <input type="hidden" name="_method" value="POST">
                                    <button type="submit" class="btn btn-secondary btn-sm">Remove From Care</button>
                                </form>
                                <a href="/employee/pets/<%= pet._id %>/edit" class="btn btn-secondary btn-sm">Edit
                                    Details</a>
                            </li>
                            <% }); %>
                    </ul>
                    <% } else { %>
                        <ul class="list-group mb-4">
                            <li class="list-group-item">No Pets Currently Under Your Care</li>
                        </ul>
                        <% } %>
            </div>
            <% include("../../partials/footer.ejs") %>