<%- include("../../partials/header.ejs") %>
    <%- include("../../partials/employeeNav.ejs") %>

        <div class="container mt-4">
            <div class="bg-light p-5 rounded shadow">
                <h2 class="text-center mb-4">Settings</h2>
                <ul class="list-group mb-4">
                    <li class="list-group-item">Username: <span class="float-end">
                            <%= currentUser.userName %>
                        </span></li>
                    <li class="list-group-item">Employee ID: <span class="float-end">
                            <%= currentUser.employeeID %>
                        </span></li>
                    <li class="list-group-item">Email: <span class="float-end">
                            <%= currentUser.email %>
                        </span></li>
                    <li class="list-group-item">Pets Under Your Care: <span class="float-end">
                            <% if (currentUser.caringFor && currentUser.caringFor.length> 0) { %>
                                <%= currentUser.caringFor.map(pet=> pet.name).join(', ') %>
                                    <% } else { %>
                                        None
                                        <% } %>
                        </span></li>
                    <li class="list-group-item">
                        <a class="changepassword btn btn-secondary" href="/guest/settings/password">Change Password</a>
                    </li>
                    <li class="list-group-item">
                        <form action="/sessions/logout?_method=DELETE" method="POST" class="mt-3">
                            <button type="submit" class="btn btn-danger">Sign Out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <%- include("../../partials/footer.ejs") %>