<%- include("../../partials/header.ejs") %>
    <%- include("../../partials/guestNav.ejs") %>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card pet-card">
                        <div class="pet-image-wrapper">
                            <% if (pet.image) { %>
                                <img src="/<%= pet.image %>" class="pet-image" alt="<%= pet.name %>">
                                <% } %>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title first-text">
                                <%= pet.name %>
                            </h5>
                            <p class="card-text"><strong>Species:</strong>
                                <%= pet.species %>
                            </p>
                            <p class="card-text"><strong>Breed:</strong>
                                <%= pet.breed %>
                            </p>
                            <p class="card-text"><strong>Age:</strong>
                                <%= pet.age %> years
                            </p>
                            <p class="card-text"><strong>Weight:</strong>
                                <%= pet.weight %> lbs
                            </p>
                            <p class="card-text"><strong>Medications:</strong>
                                <%= pet.medications %>
                            </p>
                            <p class="card-text"><strong>Special Needs:</strong>
                                <%= pet.specialNeeds %>
                            </p>
                            <p class="card-text"><strong>Feeding Instructions:</strong>
                                <%= pet.feedingInstructions %>
                            </p>
                            <p class="card-text"><strong>Behavior:</strong>
                                <%= pet.behavior %>
                            </p>
                            <p class="card-text"><strong>Last Vet Visit:</strong>
                                <%= pet.lastVetVisit %>
                            </p>
                            <p class="card-text"><strong>Next Vet Visit:</strong>
                                <%= pet.nextVetVisit %>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="/guest/pets/<%= pet._id %>/edit" class="btn btn-primary">Edit
                                Information</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include("../../partials/footer.ejs") %>