<%- include("../../partials/header.ejs") %>
    <%- include("../../partials/guestNav.ejs") %>
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <h1>Your Information</h1>
                    <ul class="list-group mb-4">
                        <li class="list-group-item">Username: <span class="float-end">
                                <%= currentUser.userName %>
                            </span></li>
                        <li class="list-group-item">Email: <span class="float-end">
                                <%= currentUser.email %>
                            </span></li>
                        <li class="list-group-item">
                            Residential Address:
                            <div class="d-flex justify-content-between">
                                <span id="userAddress">
                                    <%= currentUser.address %><br>
                                        <%= currentUser.city %>
                                            <%= currentUser.state %>
                                                <%= currentUser.zip %>
                                </span>
                                <button type="button" onclick="openForm()" class="btn btn-primary btn-sm">Edit</button>
                            </div>
                        </li>
                    </ul>
                    <a href="/guest/settings/password" class="btn btn-secondary">Change Password</a>
                    <form action="/sessions/logout?_method=DELETE" method="POST" class="mt-3">
                        <button type="submit" class="btn btn-danger">Sign Out</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Pop-up Form Container for Residential Address -->
        <div id="popupForm" class="popup-container" style="display:none;">
            <div class="popup-content p-4">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h2>Update Address</h2>
                    <button type="button" class="btn-close" aria-label="Close" onclick="closeForm()"></button>
                </div>
                <form id="updateAddressForm" action="/guest/settings" method="POST">
                    <div class="mb-3">
                        <label for="address" class="form-label">Address:</label>
                        <input type="text" class="form-control" id="address" name="address" required>
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">City:</label>
                        <input type="text" class="form-control" id="city" name="city" required>
                    </div>
                    <div class="mb-3">
                        <label for="state" class="form-label">State:</label>
                        <input type="text" class="form-control" id="state" name="state" required>
                    </div>
                    <div class="mb-3">
                        <label for="zip" class="form-label">Zip:</label>
                        <input type="text" class="form-control" id="zip" name="zip" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>

        <% include("../../partials/footer.ejs") %>

            <!-- Script for handling pop up form for updating residential address -->
            <script>
                window.openForm = function () {
                    document.getElementById("popupForm").style.display = "block";
                };

                window.closeForm = function () {
                    document.getElementById("popupForm").style.display = "none";
                };
                
                document.addEventListener("DOMContentLoaded", function () {
                    document.getElementById("updateAddressForm").addEventListener("submit", function (event) {
                        event.preventDefault();

                        const formData = new FormData(this);
                        const data = {
                            address: formData.get("address"),
                            city: formData.get("city"),
                            state: formData.get("state"),
                            zip: formData.get("zip")
                        };

                        fetch("/guest/settings", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify(data),
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                if (data.success) {
                                    const newAddressString = `${data.address}<br>${data.city}, ${data.state} ${data.zip}`;
                                    document.getElementById('userAddress').innerHTML = newAddressString;

                                    closeForm();
                                } else {
                                    throw new Error(data.message || 'Failed to update the address.');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                alert('Failed to update the address. Please try again.');
                            });
                    });
                });
            </script>